.container {
  width: 60%;
  min-height: 500px;
  border: solid 10px gray;
  margin: 10px auto;
  position: relative;
}

.container div {
  width: 300px;
  height: 150px;
  background-color: aqua;
  border: solid 2px black;
  font-size: 3em;
  text-align: center;
  position: absolute;
}

.div1 {
  background-color: red !important;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.div2 {
  background-color: yellow !important;
  bottom: 190px;
  z-index: 3;
}

.div3 {
  background-color: green !important;
  top: 220px;
  left: 150px;
}
