header, nav, main, footer{
   width: 90%;
   border: solid 1px black;
   box-sizing: border-box;
   margin: 5px auto;
}

header{
   min-height: 70px;
   background-color: antiquewhite;
}

footer {
   min-height: 30px;
   background-color: brown;
}

nav{
   background-color: aquamarine;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li{
   display: block;
   border-bottom: solid 1px black;
}

nav ul li a{
   display: block;
   padding: 8px;
   text-decoration: none;
}

nav ul li a:hover {
   text-decoration: underline;
   background-color: bisque;
}


main{
   min-height: 400px;
}

main div{
   border: solid black 1px;
   box-sizing: border-box;
}


.left-side, .right-side {
   min-height: 80px;
   background-color: beige;
}

.content{
   min-height: 300px;
}

@media (min-width: 600px){
   nav ul li{
      display: inline-block;
      border-bottom: none;
   }

   main{
      display: flex;
      flex-wrap: wrap;
   }

   .left-side{
      width: 20%;
   }

   .right-side{
      width: 100%;
   }

   .content{
      width: 80%;
   }
}

@media(min-width:800px) {
   main{
      display: flex;
      flex-wrap: wrap;
   }

   .left-side{
      width: 20%;
   }

   .right-side{
      width: 20%;
   }

   .content{
      width: 60%;
   }
}