.container{
   width: 90%;
   background-color: aquamarine;
   min-height: 400px;
   margin: auto;
   box-sizing: border-box;
   margin-bottom: 20px;
}

.container img {
   /* width: 400px; */
   height: 300px;
   border: solid 5px black;
}

.container .item{
   width: 950px;
   height: 750px;
   background-color: blueviolet;
   border: solid 5px red;
   background-image: url(bg.jpg);
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   background-position: center center;
   background-size: cover;
}

.menu{

}

.menu li {
   list-style: none;
   width: 200px;
}

.menu li:first-child a {
   font-size: 1.4em;
}

.menu li a{
   text-decoration: none;
   background-color: bisque;
   padding: 10px;
   display: block;
   border-bottom:1px solid blue;
}

.menu li a:hover{
   background-color: burlywood;
}

.box {
   width: 100px;
   height: 100px;
   background-color: blue;
}

.box:hover {
   width: 200px;
   height: 200px;
   background-color: brown;
}

.container p{
   background-color: yellow;
}

.container p:last-child {
   background-color: yellowgreen;
   font-size: 2em;
}