// *{
//    box-sizing: border-box;
// }

.container1{
   width: 60%;
   min-height: 50px;
   border: solid 10px gray;
   margin: 10px auto;

   div{
      width: 300px;
      height: 150px;
      background-color: aqua;
      border: solid 2px black;
      font-size: 3em;
      text-align: center;
   }
}

.div2{
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.div4{
   margin: 20px 40px 50px 80px;
}


.container2{
   width: 700px;
   height: 200px;
   text-align: justify;
}

.padding{
   padding-left: 50px;
   padding-top: 80px;
   box-sizing: border-box;
   overflow: scroll;
   padding: 20px 40px 80px 100px;
}



// $color: blue;

// body{
//    background-color: aqua;

//    h1{
//       color: green;
//    }

//    h3{
//       color: $color;
//    }
// }


// .div1{
//    color: $color;
// }
