body {
  margin: 0;
}

header {
  height: 15vh;
  background-color: #8fbc8f;
}

main {
  min-height: 80vh;
  background-color: white;
  display: flex;
}

nav {
  width: 20%;
  background-color: bisque;
  min-height: 80vh;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: solid 4px silver;
  display: block;
  padding: 8px;
}

nav ul a:hover {
  background-color: aquamarine;
}

.content {
  width: 80%;
  background-color: aquamarine;
  min-height: 80vh;
  border-left: solid 5px silver;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content .row {
  min-height: 100px;
  display: flex;
  width: 100%;
}

.content .row div {
  background-color: blueviolet;
  flex-grow: 1;
  margin: 10px;
}

footer {
  height: 5vh;
  background-color: #8fbc8f;
}
