$bg-color:#8fbc8f;

body{
   margin: 0;
}

header{
   height: 15vh;
   background-color: $bg-color;
}

main{
   min-height: 80vh;
   background-color: white;
   display: flex;
}

nav{
   width: 20%;
   background-color: bisque;
   min-height: 80vh;

   ul{
      list-style: none;
      margin: 0;
      padding: 0;

      a{
         text-decoration: none;
         color: black;
         font-weight: bold;
         border-bottom: solid 4px silver;
         display: block;
         padding: 8px;
      }

      a:hover{
         background-color: aquamarine;
      }
   }
}

.content{
   width: 80%;
   background-color: aquamarine;
   min-height: 80vh;
   border-left: solid 5px silver;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   .row{
       min-height: 100px;
       display: flex;
       width: 100%;

       div{
         background-color: blueviolet;
         flex-grow: 1;
         margin: 10px;
       }
   }
   // div{
   //    background-color: blueviolet;
   //    width: 48%;
   //    border: solid;
   //    box-sizing: border-box;
   //    margin-bottom: 10px;
   //    margin-top: 10px;
   // }
}


footer{
   height: 5vh;
   background-color: $bg-color;
}

