.container{
   border: solid 1px green;
   width: 80%;
   min-height: 300px;
   margin: auto;
   background-color: yellow;
}

@media (max-width: 600px) {
   .container {
     background-color: lightblue;
   }

   .item{
      border: solid;
      background-color: red;
      min-height: 60px;
   }
 }

 @media (min-width: 800px) {
   .container {
     background-color: blueviolet;
     display: flex;
     justify-content: space-between;
   }

   .item{
      border: solid;
      background-color: aquamarine;
      min-height: 80px;
      width: 30%;
   }
 }