body{
   background-color: aquamarine;
}

.container{
   border: solid 1px black;
   width: 70%;
   margin: auto;
   display: flex;
   min-height: 550px;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:space-between;
   align-items: flex-start;
   align-content: space-between;
   margin-bottom: 9px;
   

   div{
      border: solid 3px blue;
      // width: 300px;
      // margin: 10px;
      width: 100px;
      background-color: aliceblue;
      min-height: 100px;
      text-align: center;
      box-sizing: border-box;
      // line-height: 100px;
      // padding: 30px;
      // box-sizing: border-box;
      font-size: 2em;
   }
}