body {
   background-color: antiquewhite;
}

div{
   background-color: aquamarine;
   width: 700px;
   min-height: 70px;
}

span{
   color: red;
   font-weight: bold;
   font-size: 30px;
}

.div-style-1{
   width: 850px;
   background-color: cadetblue;  
}

.p-format-1{
   font-size: 1.5em;
   font-style: italic;
   font-weight: bold;
   letter-spacing: 9px;
   word-spacing: 50px;
}

.p-format-2 {
   text-align: justify;
   text-decoration: overline dashed;
   text-transform: uppercase;
   text-indent: 60px;
}

.p-format-3{
   text-shadow: 9px 9px 10px red;
   font-size: 4em;
}

.span-style-1{
   font-size: 5em;
   text-shadow: 10px 10px 10px blue;
}

.border-s-1{
   border-top-style: dotted;
   border-top-color: brown;
   border-top-width: 20px;
}

.border-s-2{
   border-left: solid blue 10px;
}

.border-s-3{
   border: solid red 5px;
}


.border-s-4{
   border: solid red 5px;
   height: 200px;
   border-top-right-radius: 400px 100px;
   border-top-left-radius: 100px;
}

.border-s-5{
   border: dashed red 5px;
   height: 200px;
   border-radius: 100px 50px;
}